*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Ubuntu, sans-serif;
    box-sizing: border-box;
    color: darkgray;
}

body {
    background-color: lightgrey;
    padding: 5vw 10vw;
}

#winner {
    font-size: 2rem;
    padding-bottom: 1rem;
    font-weight: bold;
    color: salmon;
}

#board {
    width: 80vw;
    height: 80vw;
    max-width: 400px;
    max-height: 400px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}

.square {
    width: 30%;
    height: 30%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    border-radius: 10px;
    
}

#reset {
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
    background-color: white;
    margin-top: 2rem;
    border: 0;
    border-radius: 10px;

}

.square:hover, #reset:hover {
    opacity: 75%;
}